@font-face {
  font-family: "MyFont";
  src: url("./Roboto-Black.ttf") format("truetype"),
    url("./ShadowsIntoLight-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "MyFont";
  background: url("./ivanpesenti-02.jpg");
}
